button
{
  padding: 0px;
  border: 1px solid white;
  color: white;
  font-size: large;
  width: 100%;
  background-color: rgb(119, 119, 119);
}

button:hover
{
  background-color: rgb(73, 73, 73);

}


.Screen
{
  color: green;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: black;
  width: 100%;
  height: 100px;
}

.col{
  padding: 0px;
}

.row{
  padding: 0px;
}